.rain{
            color:#FFFFFF;
            background-color: #080808;
        }
        .gray{;
            color: #777777;
            line-height: 60px;
        }
        .gray2{
            color: #777777;
            font-size: large;
            line-height: 70px;
        }
        .left-f{
            float: left;
        }
        .Ltitle{
            margin-left: 15%;width:110px;background-color:#ff4a00;border-radius:5px;color: white;
            line-height: 40px;
font-size:large;
        }
        .blockline{
            margin-left: 15%;
            color: #dddddd;
            width: 71%;
            height: 2px;
            background-color: #cccccc;
            margin-top:32px;
        }
        .kong{
            height: 15px;
            color: white;
        }
        .blockline2{
            margin-left: 1%;
            color: #dddddd;
            width: 98%;
            height: 3px;
            background-color: #cccccc;
            margin-top:30px;
           
        }
        .word{
            color: #dddddd;
        }
        .football{
            margin-left: 12%;
            margin-top:20px;
        }
    
        .rain2{
            color:#FFFFFF;
            background-image:url("home/u195.jpg")
        }
.standline{
    color:#cccccc;
    width:2px;
    height:100px;
    float:left;
    background-color:#cccccc;
}
.footballword{
    width: 22%;
    text-align: center;
    float: left;
}
.footballword2{
    width: 22%;
    text-align: center;
}
.footballmax{
    margin-top:20px;
    width:100%;
    text-align: center;
    background-color:#dddddd; 
    float: left;
}
.row {
            margin-bottom: 20px;
        }
        .row.row {
            margin-top: 0px;
            margin-bottom: 0;
        }
.logo{
            position: absolute;
            margin-left: 20%;


        }

        .jicheng{
            position: relative;
            margin-left: 15%;


        }
.theborder{
       width:80%;
       text-align:center;
       float:left;
       height:1000px;
       border:1px solid #080808;
}
.bordertitle{
       width:100%;
       height:200px;
       border:1px solid #080808;
}
.downtitle{
       float:left;
}
.imgstyle{
       margin-left:8%;
}
.wordstyle{
       
       margin-top:15px;
       float:left;
       
}
.Astyle{
       margin-top:6px;
	   margin-left: 8%;
	   background-color: #e0e3e3;
	   width: 300px;
	   height: 1000px;
	   float: left;

}
.Bstyle{
	float: left;
	height: 800px;
	margin-top:6px;

	margin-left: 4%;
}
.heit{
	margin-top: 30px;
	margin-left: 75px;
}