<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <add key="ConnectionString" value="server=NEWTERM-PC;database=BigData;uid=sa;pwd=940931"/>    

  </appSettings>
  <system.web>
    <httpRuntime executionTimeout="36000" maxRequestLength="1048576"/>
    <compilation debug="true" />
    <customErrors mode="Off" />
    <identity impersonate="true"/>
    <authentication mode="Forms">
      <forms name="forums" path="/" loginUrl="Login.aspx" protection="All" timeout="40">
      </forms>
    </authentication>    
    </system.web>
</configuration>